In [1]:
import json
import pandas as pd
import numpy as np
import requests

ACCOUNT_ID = "001-001-2265866-001"
API_TOKEN = "591691d91a571232b46b9b87e74145ba-4fc5bc3427b4eb7d79c3501316fdffa0"

API_URL = "api-fxtrade.oanda.com"
STREAM_URL = "stream-fxtrade.oanda.com"

PRICING_PATH = f"/v3/accounts/{ACCOUNT_ID}/pricing"

query = {"instruments": "EUR_USD"} 
headers = {"Authorization": "Bearer "+ API_TOKEN}

response = requests.get("https://"+API_URL+PRICING_PATH, headers=headers, params=query) 

response.json()

{'time': '2024-08-04T22:42:45.879210140Z',
 'prices': [{'type': 'PRICE',
   'time': '2024-08-04T22:42:44.057145538Z',
   'bids': [{'price': '1.09049', 'liquidity': 500000},
    {'price': '1.09048', 'liquidity': 2500000},
    {'price': '1.09047', 'liquidity': 2000000},
    {'price': '1.09046', 'liquidity': 5000000},
    {'price': '1.09043', 'liquidity': 10000000},
    {'price': '1.09040', 'liquidity': 10000000}],
   'asks': [{'price': '1.09065', 'liquidity': 500000},
    {'price': '1.09066', 'liquidity': 500000},
    {'price': '1.09067', 'liquidity': 2000000},
    {'price': '1.09068', 'liquidity': 2000000},
    {'price': '1.09069', 'liquidity': 5000000},
    {'price': '1.09071', 'liquidity': 10000000},
    {'price': '1.09074', 'liquidity': 10000000}],
   'closeoutBid': '1.09040',
   'closeoutAsk': '1.09074',
   'status': 'tradeable',
   'tradeable': True,
   'quoteHomeConversionFactors': {'positiveUnits': '1.00000000',
    'negativeUnits': '1.00000000'},
   'instrument': 'EUR_USD'}]}

In [ ]:
import time

from_time = time.mktime(pd.to_datetime("01/01/2019").timetuple())
to_time = time.mktime(pd.to_datetime("01/02/2019").timetuple())


print(f"Window start: {from_time}, window end: {to_time}." )

header = {"Authorization": "Bearer "+API_TOKEN} 
query = {"from": str(from_time), "to": str(to_time), "granularity": "M1"}


INSTRUMENT = "GBP_JPY"

CANDLES_PATH = f"/v3/accounts/{ACCOUNT_ID}/instruments/{INSTRUMENT}/candles"


response = requests.get("https://"+API_URL+CANDLES_PATH, headers=header, params=query)


def json_to_pandas(json):
    json_file = json.json()
    price_json = json_file["candles"]
    dateTimes = []
    close_price, high_price, low_price, open_price= [], [], [], []
    volumes = []

    for candle in price_json:
        volumes.append(candle["volume"])
        dateTimes.append(candle["time"])
        close_price.append(float(candle["mid"]["c"]))
        high_price.append(float(candle["mid"]["h"]))
        low_price.append(float(candle["mid"]["l"]))
        open_price.append(float(candle["mid"]["o"]))
        
    dataFrame = pd.DataFrame({"DateTime": dateTimes,
                              "Open": open_price,"High": high_price,
                              "Low": low_price,"Close": close_price,
                              "Volume": volumes})
    dataFrame['DateTime'] = pd.to_datetime(dataFrame['DateTime'])
    dataFrame.set_index('DateTime', inplace=True)

    return dataFrame

GBPJPY_df = json_to_pandas(response)

GBPJPY_df.head()

In [ ]:
from OandaAPI import OandaAPI
oa = OandaAPI(account_id=ACCOUNT_ID, api_token=API_TOKEN)

gbp_jpy_df = oa.show_granularity()

gbp_jpy_df

In [32]:
ACCOUNT_ID = "001-001-2265866-001"
API_TOKEN = "591691d91a571232b46b9b87e74145ba-4fc5bc3427b4eb7d79c3501316fdffa0"

API_URL = "api-fxtrade.oanda.com"
STREAM_URL = "stream-fxtrade.oanda.com"

PRICING_PATH = f"/v3/accounts/{ACCOUNT_ID}/pricing"


def test_get_historical_data(instrument, start_date, end_date, granularity='D' ,as_pandas=True):
        # Must import Necessary Libraries
        import time
        import requests
        import pandas as pd

        # Convert Dates to DateTime objects
        start_dateTime = pd.to_datetime(start_date)
        end_dateTime = pd.to_datetime(end_date)

        # Convert Start Date & End Date to a UNIX timestamp
        unix_start = time.mktime(start_dateTime.timetuple())
        unix_end = time.mktime(end_dateTime.timetuple())

        # Authorization Header
        auth_header = {"Authorization": "Bearer "+API_TOKEN} 

        # Query Parameters
        parameters = {"from": str(unix_start), 
                      "to": str(unix_end), 
                      "granularity": granularity}
        
        # Historical Candle Stick Data URL
        candle_url = f"/v3/accounts/{ACCOUNT_ID}/instruments/{instrument}/candles"

        # Request for Candle Stick Data
        json_response = requests.get("https://"+API_URL+candle_url, headers=auth_header, params=parameters).json()

        # Return as Pandas DataFrame
        if as_pandas is True:
            # Convert Json to Pandas df
            candle_df = pd.json_normalize(json_response["candles"])

            # Drop complete Column
            candle_df.drop('complete', inplace=True, axis=1)

            # Rename Columns
            candle_df.rename(inplace=True,columns={'time':'DateTime',
                                                   'volume':'Volume',
                                                   'mid.o':'Open',
                                                   'mid.h':'High',
                                                   'mid.l':'Low',
                                                   'mid.c':'Close'})

            # Convert Datetime= Column to datetime object
            candle_df['DateTime'] = pd.to_datetime(candle_df['DateTime'])

            # Set DateTime to Index
            candle_df.set_index('DateTime',inplace=True)

            # Restructure Column Names
            candle_df = candle_df[['Open','High','Low','Close','Volume']]

            return candle_df
        else: 
            return json_response

df = test_get_historical_data(instrument='EUR_USD', 
                            start_date='08/01/2023',
                            end_date='08/01/2024',
                            granularity='H2')
df

                              Open     High      Low    Close  Volume
DateTime
2023-08-01 05:00:00+00:00  1.09904  1.10004  1.09868  1.09948    7560
2023-08-01 07:00:00+00:00  1.09944  1.09949  1.09702  1.09748   11225
2023-08-01 09:00:00+00:00  1.09749  1.09847  1.09658  1.09822    8147
2023-08-01 11:00:00+00:00  1.09822  1.09824  1.09524  1.09565   10231
2023-08-01 13:00:00+00:00  1.09566  1.09892  1.09560  1.09783   16453
...                            ...      ...      ...      ...     ...
2024-07-31 19:00:00+00:00  1.08265  1.08329  1.08170  1.08264   10399
2024-07-31 21:00:00+00:00  1.08248  1.08310  1.08241  1.08243     906
2024-07-31 23:00:00+00:00  1.08246  1.08301  1.08218  1.08277    7084
2024-08-01 01:00:00+00:00  1.08276  1.08338  1.08243  1.08262    8848
2024-08-01 03:00:00+00:00  1.08261  1.08354  1.08256  1.08268    6637

[3120 rows x 5 columns]

In [85]:
import time    
from datetime import datetime, timedelta
import math
def get_all_candles(start,end,gran):

    gran_secs = {'S5': 5,'S10': 10,'S15': 15,'S30': 30,
                 'M1': 60,'M2': 120,'M4': 240,'M5': 300,
                 'M10': 600,'M15': 900,'M30': 1800,
                 'H1': 3600,'H2': 7200,'H3': 10800,
                 'H4': 14400,'H6': 21600,'H8': 28800,
                 'H12': 43200,'D': 86400,'W': 604800,
                 'M': 2620800}

    print(f'start Date:{start} & end Date:{end}')
    start_dateTime = pd.to_datetime(start)
    end_dateTime = pd.to_datetime(end)
    print(f'start DateTime:{start_dateTime} & end DateTime:{end_dateTime}')


    time_distance = end_dateTime - start_dateTime   
    seconds_between = time_distance.total_seconds() 
    num_data_points = seconds_between / gran_secs.get(gran)
    print(f'Seconds Between:{seconds_between}')


    if num_data_points > 4000:
        print('Greater than 4000 seconds')
        max_date = start_dateTime+timedelta(seconds=4000*math.floor(gran_secs.get(gran)))
        print(f'First Max date: {max_date}')

        # Create Pandas DataFrame
        can_df = pd.DataFrame()

        new_start_dateTime = start_dateTime
       
        while True:
            if max_date >= end_dateTime:
                print(f'{new_start_dateTime} - {end_dateTime}')
                new_df = test_get_historical_data(instrument='EUR_USD', 
                                            start_date=new_start_dateTime,
                                            end_date=end_dateTime,
                                            granularity=gran)
                can_df = pd.concat([can_df, new_df])
                break

            else:
                print(f'{new_start_dateTime} - {max_date}')
                new_df = test_get_historical_data(instrument='EUR_USD', 
                                                start_date=new_start_dateTime,
                                                end_date=max_date,
                                                granularity=gran)
                new_start_dateTime = max_date+timedelta(seconds=gran_secs.get(gran))
                max_date = new_start_dateTime+timedelta(seconds=4000*math.floor(gran_secs.get(gran)))
                can_df = pd.concat([can_df, new_df])
                                        
        return can_df
    else: 
        print(f'{start_dateTime} - {end_dateTime}')
        can_df = test_get_historical_data(instrument='EUR_USD', 
                                    start_date=start_dateTime,
                                    end_date=end_dateTime,
                                    granularity=gran)

        return can_df

master_df = get_all_candles(start='08/01/2005',
                            end='08/01/2024',
                            gran='M5')

master_df

start Date:08/01/2005 & end Date:08/01/2024
start DateTime:2005-08-01 00:00:00 & end DateTime:2024-08-01 00:00:00
Seconds Between:599616000.0
Greater than 4000 seconds
First Max date: 2005-08-14 21:20:00
2005-08-01 00:00:00 - 2005-08-14 21:20:00
2005-08-14 21:25:00 - 2005-08-28 18:45:00
2005-08-28 18:50:00 - 2005-09-11 16:10:00
2005-09-11 16:15:00 - 2005-09-25 13:35:00
2005-09-25 13:40:00 - 2005-10-09 11:00:00
2005-10-09 11:05:00 - 2005-10-23 08:25:00
2005-10-23 08:30:00 - 2005-11-06 05:50:00
2005-11-06 05:55:00 - 2005-11-20 03:15:00
2005-11-20 03:20:00 - 2005-12-04 00:40:00
2005-12-04 00:45:00 - 2005-12-17 22:05:00
2005-12-17 22:10:00 - 2005-12-31 19:30:00
2005-12-31 19:35:00 - 2006-01-14 16:55:00
2006-01-14 17:00:00 - 2006-01-28 14:20:00
2006-01-28 14:25:00 - 2006-02-11 11:45:00
2006-02-11 11:50:00 - 2006-02-25 09:10:00
2006-02-25 09:15:00 - 2006-03-11 06:35:00
2006-03-11 06:40:00 - 2006-03-25 04:00:00
2006-03-25 04:05:00 - 2006-04-08 01:25:00
2006-04-08 01:30:00 - 2006-04-21 22:50:00
2006-04-21 22:55:00 - 2006-05-05 20:15:00
2006-05-05 20:20:00 - 2006-05-19 17:40:00
2006-05-19 17:45:00 - 2006-06-02 15:05:00
2006-06-02 15:10:00 - 2006-06-16 12:30:00
2006-06-16 12:35:00 - 2006-06-30 09:55:00
2006-06-30 10:00:00 - 2006-07-14 07:20:00
2006-07-14 07:25:00 - 2006-07-28 04:45:00
2006-07-28 04:50:00 - 2006-08-11 02:10:00
2006-08-11 02:15:00 - 2006-08-24 23:35:00
2006-08-24 23:40:00 - 2006-09-07 21:00:00
2006-09-07 21:05:00 - 2006-09-21 18:25:00
2006-09-21 18:30:00 - 2006-10-05 15:50:00
2006-10-05 15:55:00 - 2006-10-19 13:15:00
2006-10-19 13:20:00 - 2006-11-02 10:40:00
2006-11-02 10:45:00 - 2006-11-16 08:05:00
2006-11-16 08:10:00 - 2006-11-30 05:30:00
2006-11-30 05:35:00 - 2006-12-14 02:55:00
2006-12-14 03:00:00 - 2006-12-28 00:20:00
2006-12-28 00:25:00 - 2007-01-10 21:45:00
2007-01-10 21:50:00 - 2007-01-24 19:10:00
2007-01-24 19:15:00 - 2007-02-07 16:35:00
2007-02-07 16:40:00 - 2007-02-21 14:00:00
2007-02-21 14:05:00 - 2007-03-07 11:25:00
2007-03-07 11:30:00 - 2007-03-21 08:50:00
2007-03-21 08:55:00 - 2007-04-04 06:15:00
2007-04-04 06:20:00 - 2007-04-18 03:40:00
2007-04-18 03:45:00 - 2007-05-02 01:05:00
2007-05-02 01:10:00 - 2007-05-15 22:30:00
2007-05-15 22:35:00 - 2007-05-29 19:55:00
2007-05-29 20:00:00 - 2007-06-12 17:20:00
2007-06-12 17:25:00 - 2007-06-26 14:45:00
2007-06-26 14:50:00 - 2007-07-10 12:10:00
2007-07-10 12:15:00 - 2007-07-24 09:35:00
2007-07-24 09:40:00 - 2007-08-07 07:00:00
2007-08-07 07:05:00 - 2007-08-21 04:25:00
2007-08-21 04:30:00 - 2007-09-04 01:50:00
2007-09-04 01:55:00 - 2007-09-17 23:15:00
2007-09-17 23:20:00 - 2007-10-01 20:40:00
2007-10-01 20:45:00 - 2007-10-15 18:05:00
2007-10-15 18:10:00 - 2007-10-29 15:30:00
2007-10-29 15:35:00 - 2007-11-12 12:55:00
2007-11-12 13:00:00 - 2007-11-26 10:20:00
2007-11-26 10:25:00 - 2007-12-10 07:45:00
2007-12-10 07:50:00 - 2007-12-24 05:10:00
2007-12-24 05:15:00 - 2008-01-07 02:35:00
2008-01-07 02:40:00 - 2008-01-21 00:00:00
2008-01-21 00:05:00 - 2008-02-03 21:25:00
2008-02-03 21:30:00 - 2008-02-17 18:50:00
2008-02-17 18:55:00 - 2008-03-02 16:15:00
2008-03-02 16:20:00 - 2008-03-16 13:40:00
2008-03-16 13:45:00 - 2008-03-30 11:05:00
2008-03-30 11:10:00 - 2008-04-13 08:30:00
2008-04-13 08:35:00 - 2008-04-27 05:55:00
2008-04-27 06:00:00 - 2008-05-11 03:20:00
2008-05-11 03:25:00 - 2008-05-25 00:45:00
2008-05-25 00:50:00 - 2008-06-07 22:10:00
2008-06-07 22:15:00 - 2008-06-21 19:35:00
2008-06-21 19:40:00 - 2008-07-05 17:00:00
2008-07-05 17:05:00 - 2008-07-19 14:25:00
2008-07-19 14:30:00 - 2008-08-02 11:50:00
2008-08-02 11:55:00 - 2008-08-16 09:15:00
2008-08-16 09:20:00 - 2008-08-30 06:40:00
2008-08-30 06:45:00 - 2008-09-13 04:05:00
2008-09-13 04:10:00 - 2008-09-27 01:30:00
2008-09-27 01:35:00 - 2008-10-10 22:55:00
2008-10-10 23:00:00 - 2008-10-24 20:20:00
2008-10-24 20:25:00 - 2008-11-07 17:45:00
2008-11-07 17:50:00 - 2008-11-21 15:10:00
2008-11-21 15:15:00 - 2008-12-05 12:35:00
2008-12-05 12:40:00 - 2008-12-19 10:00:00
2008-12-19 10:05:00 - 2009-01-02 07:25:00
2009-01-02 07:30:00 - 2009-01-16 04:50:00
2009-01-16 04:55:00 - 2009-01-30 02:15:00
2009-01-30 02:20:00 - 2009-02-12 23:40:00
2009-02-12 23:45:00 - 2009-02-26 21:05:00
2009-02-26 21:10:00 - 2009-03-12 18:30:00
2009-03-12 18:35:00 - 2009-03-26 15:55:00
2009-03-26 16:00:00 - 2009-04-09 13:20:00
2009-04-09 13:25:00 - 2009-04-23 10:45:00
2009-04-23 10:50:00 - 2009-05-07 08:10:00
2009-05-07 08:15:00 - 2009-05-21 05:35:00
2009-05-21 05:40:00 - 2009-06-04 03:00:00
2009-06-04 03:05:00 - 2009-06-18 00:25:00
2009-06-18 00:30:00 - 2009-07-01 21:50:00
2009-07-01 21:55:00 - 2009-07-15 19:15:00
2009-07-15 19:20:00 - 2009-07-29 16:40:00
2009-07-29 16:45:00 - 2009-08-12 14:05:00
2009-08-12 14:10:00 - 2009-08-26 11:30:00
2009-08-26 11:35:00 - 2009-09-09 08:55:00
2009-09-09 09:00:00 - 2009-09-23 06:20:00
2009-09-23 06:25:00 - 2009-10-07 03:45:00
2009-10-07 03:50:00 - 2009-10-21 01:10:00
2009-10-21 01:15:00 - 2009-11-03 22:35:00
2009-11-03 22:40:00 - 2009-11-17 20:00:00
2009-11-17 20:05:00 - 2009-12-01 17:25:00
2009-12-01 17:30:00 - 2009-12-15 14:50:00
2009-12-15 14:55:00 - 2009-12-29 12:15:00
2009-12-29 12:20:00 - 2010-01-12 09:40:00
2010-01-12 09:45:00 - 2010-01-26 07:05:00
2010-01-26 07:10:00 - 2010-02-09 04:30:00
2010-02-09 04:35:00 - 2010-02-23 01:55:00
2010-02-23 02:00:00 - 2010-03-08 23:20:00
2010-03-08 23:25:00 - 2010-03-22 20:45:00
2010-03-22 20:50:00 - 2010-04-05 18:10:00
2010-04-05 18:15:00 - 2010-04-19 15:35:00
2010-04-19 15:40:00 - 2010-05-03 13:00:00
2010-05-03 13:05:00 - 2010-05-17 10:25:00
2010-05-17 10:30:00 - 2010-05-31 07:50:00
2010-05-31 07:55:00 - 2010-06-14 05:15:00
2010-06-14 05:20:00 - 2010-06-28 02:40:00
2010-06-28 02:45:00 - 2010-07-12 00:05:00
2010-07-12 00:10:00 - 2010-07-25 21:30:00
2010-07-25 21:35:00 - 2010-08-08 18:55:00
2010-08-08 19:00:00 - 2010-08-22 16:20:00
2010-08-22 16:25:00 - 2010-09-05 13:45:00
2010-09-05 13:50:00 - 2010-09-19 11:10:00
2010-09-19 11:15:00 - 2010-10-03 08:35:00
2010-10-03 08:40:00 - 2010-10-17 06:00:00
2010-10-17 06:05:00 - 2010-10-31 03:25:00
2010-10-31 03:30:00 - 2010-11-14 00:50:00
2010-11-14 00:55:00 - 2010-11-27 22:15:00
2010-11-27 22:20:00 - 2010-12-11 19:40:00
2010-12-11 19:45:00 - 2010-12-25 17:05:00
2010-12-25 17:10:00 - 2011-01-08 14:30:00
2011-01-08 14:35:00 - 2011-01-22 11:55:00
2011-01-22 12:00:00 - 2011-02-05 09:20:00
2011-02-05 09:25:00 - 2011-02-19 06:45:00
2011-02-19 06:50:00 - 2011-03-05 04:10:00
2011-03-05 04:15:00 - 2011-03-19 01:35:00
2011-03-19 01:40:00 - 2011-04-01 23:00:00
2011-04-01 23:05:00 - 2011-04-15 20:25:00
2011-04-15 20:30:00 - 2011-04-29 17:50:00
2011-04-29 17:55:00 - 2011-05-13 15:15:00
2011-05-13 15:20:00 - 2011-05-27 12:40:00
2011-05-27 12:45:00 - 2011-06-10 10:05:00
2011-06-10 10:10:00 - 2011-06-24 07:30:00
2011-06-24 07:35:00 - 2011-07-08 04:55:00
2011-07-08 05:00:00 - 2011-07-22 02:20:00
2011-07-22 02:25:00 - 2011-08-04 23:45:00
2011-08-04 23:50:00 - 2011-08-18 21:10:00
2011-08-18 21:15:00 - 2011-09-01 18:35:00
2011-09-01 18:40:00 - 2011-09-15 16:00:00
2011-09-15 16:05:00 - 2011-09-29 13:25:00
2011-09-29 13:30:00 - 2011-10-13 10:50:00
2011-10-13 10:55:00 - 2011-10-27 08:15:00
2011-10-27 08:20:00 - 2011-11-10 05:40:00
2011-11-10 05:45:00 - 2011-11-24 03:05:00
2011-11-24 03:10:00 - 2011-12-08 00:30:00
2011-12-08 00:35:00 - 2011-12-21 21:55:00
2011-12-21 22:00:00 - 2012-01-04 19:20:00
2012-01-04 19:25:00 - 2012-01-18 16:45:00
2012-01-18 16:50:00 - 2012-02-01 14:10:00
2012-02-01 14:15:00 - 2012-02-15 11:35:00
2012-02-15 11:40:00 - 2012-02-29 09:00:00
2012-02-29 09:05:00 - 2012-03-14 06:25:00
2012-03-14 06:30:00 - 2012-03-28 03:50:00
2012-03-28 03:55:00 - 2012-04-11 01:15:00
2012-04-11 01:20:00 - 2012-04-24 22:40:00
2012-04-24 22:45:00 - 2012-05-08 20:05:00
2012-05-08 20:10:00 - 2012-05-22 17:30:00
2012-05-22 17:35:00 - 2012-06-05 14:55:00
2012-06-05 15:00:00 - 2012-06-19 12:20:00
2012-06-19 12:25:00 - 2012-07-03 09:45:00
2012-07-03 09:50:00 - 2012-07-17 07:10:00
2012-07-17 07:15:00 - 2012-07-31 04:35:00
2012-07-31 04:40:00 - 2012-08-14 02:00:00
2012-08-14 02:05:00 - 2012-08-27 23:25:00
2012-08-27 23:30:00 - 2012-09-10 20:50:00
2012-09-10 20:55:00 - 2012-09-24 18:15:00
2012-09-24 18:20:00 - 2012-10-08 15:40:00
2012-10-08 15:45:00 - 2012-10-22 13:05:00
2012-10-22 13:10:00 - 2012-11-05 10:30:00
2012-11-05 10:35:00 - 2012-11-19 07:55:00
2012-11-19 08:00:00 - 2012-12-03 05:20:00
2012-12-03 05:25:00 - 2012-12-17 02:45:00
2012-12-17 02:50:00 - 2012-12-31 00:10:00
2012-12-31 00:15:00 - 2013-01-13 21:35:00
2013-01-13 21:40:00 - 2013-01-27 19:00:00
2013-01-27 19:05:00 - 2013-02-10 16:25:00
2013-02-10 16:30:00 - 2013-02-24 13:50:00
2013-02-24 13:55:00 - 2013-03-10 11:15:00
2013-03-10 11:20:00 - 2013-03-24 08:40:00
2013-03-24 08:45:00 - 2013-04-07 06:05:00
2013-04-07 06:10:00 - 2013-04-21 03:30:00
2013-04-21 03:35:00 - 2013-05-05 00:55:00
2013-05-05 01:00:00 - 2013-05-18 22:20:00
2013-05-18 22:25:00 - 2013-06-01 19:45:00
2013-06-01 19:50:00 - 2013-06-15 17:10:00
2013-06-15 17:15:00 - 2013-06-29 14:35:00
2013-06-29 14:40:00 - 2013-07-13 12:00:00
2013-07-13 12:05:00 - 2013-07-27 09:25:00
2013-07-27 09:30:00 - 2013-08-10 06:50:00
2013-08-10 06:55:00 - 2013-08-24 04:15:00
2013-08-24 04:20:00 - 2013-09-07 01:40:00
2013-09-07 01:45:00 - 2013-09-20 23:05:00
2013-09-20 23:10:00 - 2013-10-04 20:30:00
2013-10-04 20:35:00 - 2013-10-18 17:55:00
2013-10-18 18:00:00 - 2013-11-01 15:20:00
2013-11-01 15:25:00 - 2013-11-15 12:45:00
2013-11-15 12:50:00 - 2013-11-29 10:10:00
2013-11-29 10:15:00 - 2013-12-13 07:35:00
2013-12-13 07:40:00 - 2013-12-27 05:00:00
2013-12-27 05:05:00 - 2014-01-10 02:25:00
2014-01-10 02:30:00 - 2014-01-23 23:50:00
2014-01-23 23:55:00 - 2014-02-06 21:15:00
2014-02-06 21:20:00 - 2014-02-20 18:40:00
2014-02-20 18:45:00 - 2014-03-06 16:05:00
2014-03-06 16:10:00 - 2014-03-20 13:30:00
2014-03-20 13:35:00 - 2014-04-03 10:55:00
2014-04-03 11:00:00 - 2014-04-17 08:20:00
2014-04-17 08:25:00 - 2014-05-01 05:45:00
2014-05-01 05:50:00 - 2014-05-15 03:10:00
2014-05-15 03:15:00 - 2014-05-29 00:35:00
2014-05-29 00:40:00 - 2014-06-11 22:00:00
2014-06-11 22:05:00 - 2014-06-25 19:25:00
2014-06-25 19:30:00 - 2014-07-09 16:50:00
2014-07-09 16:55:00 - 2014-07-23 14:15:00
2014-07-23 14:20:00 - 2014-08-06 11:40:00
2014-08-06 11:45:00 - 2014-08-20 09:05:00
2014-08-20 09:10:00 - 2014-09-03 06:30:00
2014-09-03 06:35:00 - 2014-09-17 03:55:00
2014-09-17 04:00:00 - 2014-10-01 01:20:00
2014-10-01 01:25:00 - 2014-10-14 22:45:00
2014-10-14 22:50:00 - 2014-10-28 20:10:00
2014-10-28 20:15:00 - 2014-11-11 17:35:00
2014-11-11 17:40:00 - 2014-11-25 15:00:00
2014-11-25 15:05:00 - 2014-12-09 12:25:00
2014-12-09 12:30:00 - 2014-12-23 09:50:00
2014-12-23 09:55:00 - 2015-01-06 07:15:00
2015-01-06 07:20:00 - 2015-01-20 04:40:00
2015-01-20 04:45:00 - 2015-02-03 02:05:00
2015-02-03 02:10:00 - 2015-02-16 23:30:00
2015-02-16 23:35:00 - 2015-03-02 20:55:00
2015-03-02 21:00:00 - 2015-03-16 18:20:00
2015-03-16 18:25:00 - 2015-03-30 15:45:00
2015-03-30 15:50:00 - 2015-04-13 13:10:00
2015-04-13 13:15:00 - 2015-04-27 10:35:00
2015-04-27 10:40:00 - 2015-05-11 08:00:00
2015-05-11 08:05:00 - 2015-05-25 05:25:00
2015-05-25 05:30:00 - 2015-06-08 02:50:00
2015-06-08 02:55:00 - 2015-06-22 00:15:00
2015-06-22 00:20:00 - 2015-07-05 21:40:00
2015-07-05 21:45:00 - 2015-07-19 19:05:00
2015-07-19 19:10:00 - 2015-08-02 16:30:00
2015-08-02 16:35:00 - 2015-08-16 13:55:00
2015-08-16 14:00:00 - 2015-08-30 11:20:00
2015-08-30 11:25:00 - 2015-09-13 08:45:00
2015-09-13 08:50:00 - 2015-09-27 06:10:00
2015-09-27 06:15:00 - 2015-10-11 03:35:00
2015-10-11 03:40:00 - 2015-10-25 01:00:00
2015-10-25 01:05:00 - 2015-11-07 22:25:00
2015-11-07 22:30:00 - 2015-11-21 19:50:00
2015-11-21 19:55:00 - 2015-12-05 17:15:00
2015-12-05 17:20:00 - 2015-12-19 14:40:00
2015-12-19 14:45:00 - 2016-01-02 12:05:00
2016-01-02 12:10:00 - 2016-01-16 09:30:00
2016-01-16 09:35:00 - 2016-01-30 06:55:00
2016-01-30 07:00:00 - 2016-02-13 04:20:00
2016-02-13 04:25:00 - 2016-02-27 01:45:00
2016-02-27 01:50:00 - 2016-03-11 23:10:00
2016-03-11 23:15:00 - 2016-03-25 20:35:00
2016-03-25 20:40:00 - 2016-04-08 18:00:00
2016-04-08 18:05:00 - 2016-04-22 15:25:00
2016-04-22 15:30:00 - 2016-05-06 12:50:00
2016-05-06 12:55:00 - 2016-05-20 10:15:00
2016-05-20 10:20:00 - 2016-06-03 07:40:00
2016-06-03 07:45:00 - 2016-06-17 05:05:00
2016-06-17 05:10:00 - 2016-07-01 02:30:00
2016-07-01 02:35:00 - 2016-07-14 23:55:00
2016-07-15 00:00:00 - 2016-07-28 21:20:00
2016-07-28 21:25:00 - 2016-08-11 18:45:00
2016-08-11 18:50:00 - 2016-08-25 16:10:00
2016-08-25 16:15:00 - 2016-09-08 13:35:00
2016-09-08 13:40:00 - 2016-09-22 11:00:00
2016-09-22 11:05:00 - 2016-10-06 08:25:00
2016-10-06 08:30:00 - 2016-10-20 05:50:00
2016-10-20 05:55:00 - 2016-11-03 03:15:00
2016-11-03 03:20:00 - 2016-11-17 00:40:00
2016-11-17 00:45:00 - 2016-11-30 22:05:00
2016-11-30 22:10:00 - 2016-12-14 19:30:00
2016-12-14 19:35:00 - 2016-12-28 16:55:00
2016-12-28 17:00:00 - 2017-01-11 14:20:00
2017-01-11 14:25:00 - 2017-01-25 11:45:00
2017-01-25 11:50:00 - 2017-02-08 09:10:00
2017-02-08 09:15:00 - 2017-02-22 06:35:00
2017-02-22 06:40:00 - 2017-03-08 04:00:00
2017-03-08 04:05:00 - 2017-03-22 01:25:00
2017-03-22 01:30:00 - 2017-04-04 22:50:00
2017-04-04 22:55:00 - 2017-04-18 20:15:00
2017-04-18 20:20:00 - 2017-05-02 17:40:00
2017-05-02 17:45:00 - 2017-05-16 15:05:00
2017-05-16 15:10:00 - 2017-05-30 12:30:00
2017-05-30 12:35:00 - 2017-06-13 09:55:00
2017-06-13 10:00:00 - 2017-06-27 07:20:00
2017-06-27 07:25:00 - 2017-07-11 04:45:00
2017-07-11 04:50:00 - 2017-07-25 02:10:00
2017-07-25 02:15:00 - 2017-08-07 23:35:00
2017-08-07 23:40:00 - 2017-08-21 21:00:00
2017-08-21 21:05:00 - 2017-09-04 18:25:00
2017-09-04 18:30:00 - 2017-09-18 15:50:00
2017-09-18 15:55:00 - 2017-10-02 13:15:00
2017-10-02 13:20:00 - 2017-10-16 10:40:00
2017-10-16 10:45:00 - 2017-10-30 08:05:00
2017-10-30 08:10:00 - 2017-11-13 05:30:00
2017-11-13 05:35:00 - 2017-11-27 02:55:00
2017-11-27 03:00:00 - 2017-12-11 00:20:00
2017-12-11 00:25:00 - 2017-12-24 21:45:00
2017-12-24 21:50:00 - 2018-01-07 19:10:00
2018-01-07 19:15:00 - 2018-01-21 16:35:00
2018-01-21 16:40:00 - 2018-02-04 14:00:00
2018-02-04 14:05:00 - 2018-02-18 11:25:00
2018-02-18 11:30:00 - 2018-03-04 08:50:00
2018-03-04 08:55:00 - 2018-03-18 06:15:00
2018-03-18 06:20:00 - 2018-04-01 03:40:00
2018-04-01 03:45:00 - 2018-04-15 01:05:00
2018-04-15 01:10:00 - 2018-04-28 22:30:00
2018-04-28 22:35:00 - 2018-05-12 19:55:00
2018-05-12 20:00:00 - 2018-05-26 17:20:00
2018-05-26 17:25:00 - 2018-06-09 14:45:00
2018-06-09 14:50:00 - 2018-06-23 12:10:00
2018-06-23 12:15:00 - 2018-07-07 09:35:00
2018-07-07 09:40:00 - 2018-07-21 07:00:00
2018-07-21 07:05:00 - 2018-08-04 04:25:00
2018-08-04 04:30:00 - 2018-08-18 01:50:00
2018-08-18 01:55:00 - 2018-08-31 23:15:00
2018-08-31 23:20:00 - 2018-09-14 20:40:00
2018-09-14 20:45:00 - 2018-09-28 18:05:00
2018-09-28 18:10:00 - 2018-10-12 15:30:00
2018-10-12 15:35:00 - 2018-10-26 12:55:00
2018-10-26 13:00:00 - 2018-11-09 10:20:00
2018-11-09 10:25:00 - 2018-11-23 07:45:00
2018-11-23 07:50:00 - 2018-12-07 05:10:00
2018-12-07 05:15:00 - 2018-12-21 02:35:00
2018-12-21 02:40:00 - 2019-01-04 00:00:00
2019-01-04 00:05:00 - 2019-01-17 21:25:00
2019-01-17 21:30:00 - 2019-01-31 18:50:00
2019-01-31 18:55:00 - 2019-02-14 16:15:00
2019-02-14 16:20:00 - 2019-02-28 13:40:00
2019-02-28 13:45:00 - 2019-03-14 11:05:00
2019-03-14 11:10:00 - 2019-03-28 08:30:00
2019-03-28 08:35:00 - 2019-04-11 05:55:00
2019-04-11 06:00:00 - 2019-04-25 03:20:00
2019-04-25 03:25:00 - 2019-05-09 00:45:00
2019-05-09 00:50:00 - 2019-05-22 22:10:00
2019-05-22 22:15:00 - 2019-06-05 19:35:00
2019-06-05 19:40:00 - 2019-06-19 17:00:00
2019-06-19 17:05:00 - 2019-07-03 14:25:00
2019-07-03 14:30:00 - 2019-07-17 11:50:00
2019-07-17 11:55:00 - 2019-07-31 09:15:00
2019-07-31 09:20:00 - 2019-08-14 06:40:00
2019-08-14 06:45:00 - 2019-08-28 04:05:00
2019-08-28 04:10:00 - 2019-09-11 01:30:00
2019-09-11 01:35:00 - 2019-09-24 22:55:00
2019-09-24 23:00:00 - 2019-10-08 20:20:00
2019-10-08 20:25:00 - 2019-10-22 17:45:00
2019-10-22 17:50:00 - 2019-11-05 15:10:00
2019-11-05 15:15:00 - 2019-11-19 12:35:00
2019-11-19 12:40:00 - 2019-12-03 10:00:00
2019-12-03 10:05:00 - 2019-12-17 07:25:00
2019-12-17 07:30:00 - 2019-12-31 04:50:00
2019-12-31 04:55:00 - 2020-01-14 02:15:00
2020-01-14 02:20:00 - 2020-01-27 23:40:00
2020-01-27 23:45:00 - 2020-02-10 21:05:00
2020-02-10 21:10:00 - 2020-02-24 18:30:00
2020-02-24 18:35:00 - 2020-03-09 15:55:00
2020-03-09 16:00:00 - 2020-03-23 13:20:00
2020-03-23 13:25:00 - 2020-04-06 10:45:00
2020-04-06 10:50:00 - 2020-04-20 08:10:00
2020-04-20 08:15:00 - 2020-05-04 05:35:00
2020-05-04 05:40:00 - 2020-05-18 03:00:00
2020-05-18 03:05:00 - 2020-06-01 00:25:00
2020-06-01 00:30:00 - 2020-06-14 21:50:00
2020-06-14 21:55:00 - 2020-06-28 19:15:00
2020-06-28 19:20:00 - 2020-07-12 16:40:00
2020-07-12 16:45:00 - 2020-07-26 14:05:00
2020-07-26 14:10:00 - 2020-08-09 11:30:00
2020-08-09 11:35:00 - 2020-08-23 08:55:00
2020-08-23 09:00:00 - 2020-09-06 06:20:00
2020-09-06 06:25:00 - 2020-09-20 03:45:00
2020-09-20 03:50:00 - 2020-10-04 01:10:00
2020-10-04 01:15:00 - 2020-10-17 22:35:00
2020-10-17 22:40:00 - 2020-10-31 20:00:00
2020-10-31 20:05:00 - 2020-11-14 17:25:00
2020-11-14 17:30:00 - 2020-11-28 14:50:00
2020-11-28 14:55:00 - 2020-12-12 12:15:00
2020-12-12 12:20:00 - 2020-12-26 09:40:00
2020-12-26 09:45:00 - 2021-01-09 07:05:00
2021-01-09 07:10:00 - 2021-01-23 04:30:00
2021-01-23 04:35:00 - 2021-02-06 01:55:00
2021-02-06 02:00:00 - 2021-02-19 23:20:00
2021-02-19 23:25:00 - 2021-03-05 20:45:00
2021-03-05 20:50:00 - 2021-03-19 18:10:00
2021-03-19 18:15:00 - 2021-04-02 15:35:00
2021-04-02 15:40:00 - 2021-04-16 13:00:00
2021-04-16 13:05:00 - 2021-04-30 10:25:00
2021-04-30 10:30:00 - 2021-05-14 07:50:00
2021-05-14 07:55:00 - 2021-05-28 05:15:00
2021-05-28 05:20:00 - 2021-06-11 02:40:00
2021-06-11 02:45:00 - 2021-06-25 00:05:00
2021-06-25 00:10:00 - 2021-07-08 21:30:00
2021-07-08 21:35:00 - 2021-07-22 18:55:00
2021-07-22 19:00:00 - 2021-08-05 16:20:00
2021-08-05 16:25:00 - 2021-08-19 13:45:00
2021-08-19 13:50:00 - 2021-09-02 11:10:00
2021-09-02 11:15:00 - 2021-09-16 08:35:00
2021-09-16 08:40:00 - 2021-09-30 06:00:00
2021-09-30 06:05:00 - 2021-10-14 03:25:00
2021-10-14 03:30:00 - 2021-10-28 00:50:00
2021-10-28 00:55:00 - 2021-11-10 22:15:00
2021-11-10 22:20:00 - 2021-11-24 19:40:00
2021-11-24 19:45:00 - 2021-12-08 17:05:00
2021-12-08 17:10:00 - 2021-12-22 14:30:00
2021-12-22 14:35:00 - 2022-01-05 11:55:00
2022-01-05 12:00:00 - 2022-01-19 09:20:00
2022-01-19 09:25:00 - 2022-02-02 06:45:00
2022-02-02 06:50:00 - 2022-02-16 04:10:00
2022-02-16 04:15:00 - 2022-03-02 01:35:00
2022-03-02 01:40:00 - 2022-03-15 23:00:00
2022-03-15 23:05:00 - 2022-03-29 20:25:00
2022-03-29 20:30:00 - 2022-04-12 17:50:00
2022-04-12 17:55:00 - 2022-04-26 15:15:00
2022-04-26 15:20:00 - 2022-05-10 12:40:00
2022-05-10 12:45:00 - 2022-05-24 10:05:00
2022-05-24 10:10:00 - 2022-06-07 07:30:00
2022-06-07 07:35:00 - 2022-06-21 04:55:00
2022-06-21 05:00:00 - 2022-07-05 02:20:00
2022-07-05 02:25:00 - 2022-07-18 23:45:00
2022-07-18 23:50:00 - 2022-08-01 21:10:00
2022-08-01 21:15:00 - 2022-08-15 18:35:00
2022-08-15 18:40:00 - 2022-08-29 16:00:00
2022-08-29 16:05:00 - 2022-09-12 13:25:00
2022-09-12 13:30:00 - 2022-09-26 10:50:00
2022-09-26 10:55:00 - 2022-10-10 08:15:00
2022-10-10 08:20:00 - 2022-10-24 05:40:00
2022-10-24 05:45:00 - 2022-11-07 03:05:00
2022-11-07 03:10:00 - 2022-11-21 00:30:00
2022-11-21 00:35:00 - 2022-12-04 21:55:00
2022-12-04 22:00:00 - 2022-12-18 19:20:00
2022-12-18 19:25:00 - 2023-01-01 16:45:00
2023-01-01 16:50:00 - 2023-01-15 14:10:00
2023-01-15 14:15:00 - 2023-01-29 11:35:00
2023-01-29 11:40:00 - 2023-02-12 09:00:00
2023-02-12 09:05:00 - 2023-02-26 06:25:00
2023-02-26 06:30:00 - 2023-03-12 03:50:00
2023-03-12 03:55:00 - 2023-03-26 01:15:00
2023-03-26 01:20:00 - 2023-04-08 22:40:00
2023-04-08 22:45:00 - 2023-04-22 20:05:00
2023-04-22 20:10:00 - 2023-05-06 17:30:00
2023-05-06 17:35:00 - 2023-05-20 14:55:00
2023-05-20 15:00:00 - 2023-06-03 12:20:00
2023-06-03 12:25:00 - 2023-06-17 09:45:00
2023-06-17 09:50:00 - 2023-07-01 07:10:00

                              Open     High      Low    Close  Volume
DateTime
2005-08-01 05:00:00+00:00  1.21860  1.21860  1.21840  1.21860      22
2005-08-01 05:05:00+00:00  1.21850  1.21860  1.21850  1.21850      15
2005-08-01 05:10:00+00:00  1.21845  1.21850  1.21820  1.21840      34
2005-08-01 05:15:00+00:00  1.21830  1.21850  1.21820  1.21850      21
2005-08-01 05:20:00+00:00  1.21840  1.21850  1.21790  1.21790      56
...                            ...      ...      ...      ...     ...
2024-08-01 04:35:00+00:00  1.08329  1.08330  1.08310  1.08323     279
2024-08-01 04:40:00+00:00  1.08324  1.08324  1.08312  1.08313     330
2024-08-01 04:45:00+00:00  1.08312  1.08325  1.08310  1.08318     346
2024-08-01 04:50:00+00:00  1.08316  1.08316  1.08277  1.08288     294
2024-08-01 04:55:00+00:00  1.08287  1.08288  1.08264  1.08268     303

[1430299 rows x 5 columns]

In [109]:
import time
from datetime import datetime, timedelta
import math
import tqdm
def get_all_candles_upgraded(start,end,gran, verbose=False, pair='EUR_USD'):

    gran_secs = {'S5': 5,'S10': 10,'S15': 15,'S30': 30,
                 'M1': 60,'M2': 120,'M4': 240,'M5': 300,
                 'M10': 600,'M15': 900,'M30': 1800,
                 'H1': 3600,'H2': 7200,'H3': 10800,
                 'H4': 14400,'H6': 21600,'H8': 28800,
                 'H12': 43200,'D': 86400,'W': 604800,
                 'M': 2620800}

    MAX_AMOUNT = 4000

    start_dateTime = pd.to_datetime(start)
    end_dateTime = pd.to_datetime(end)
    print(f'Gathering Data {start_dateTime} - {end_dateTime}')


    time_distance = end_dateTime - start_dateTime   
    seconds_between = time_distance.total_seconds() 

    if seconds_between > MAX_AMOUNT:
        max_date = start_dateTime+timedelta(seconds=MAX_AMOUNT*math.floor(gran_secs.get(gran)))

        # Create Pandas DataFrame
        can_df = pd.DataFrame()
        start_dateTime_list = []
        end_dateTime_list = []

        new_start_dateTime = start_dateTime

        while True:
            if max_date >= end_dateTime:
                start_dateTime_list.append(new_start_dateTime)
                end_dateTime_list.append(end_dateTime)
                print(f'Last Line: {new_start_dateTime} - {end_dateTime}')
                break

            else:
                # print(f'{new_start_dateTime} - {max_date}')
                start_dateTime_list.append(new_start_dateTime)
                end_dateTime_list.append(max_date)
                
                new_start_dateTime = max_date+timedelta(seconds=gran_secs.get(gran))
                max_date = new_start_dateTime+timedelta(seconds=4000*math.floor(gran_secs.get(gran)))

        for i in tqdm.tqdm(range(len(start_dateTime_list)),colour='GREEN', 
                           ncols=100,desc =f'Downloading {pair} {gran} Data'):

            new_df = test_get_historical_data(instrument=pair, 
                                    start_date=start_dateTime_list[i],
                                    end_date=end_dateTime_list[i],
                                    granularity=gran)
            
            can_df = pd.concat([can_df, new_df])
    return can_df

master_df = get_all_candles_upgraded(start='08/01/2005',
                                     end='08/01/2024',
                                     gran='M5',
                                     pair='EUR_USD')

master_df

Gathering Data 2005-08-01 00:00:00 - 2024-08-01 00:00:00
Last Line: 2024-07-24 06:55:00 - 2024-08-01 00:00:00

Downloading EUR_USD M5 Data: 100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 500/500 [02:35<00:00,  3.22it/s]

                              Open     High      Low    Close  Volume
DateTime
2005-08-01 05:00:00+00:00  1.21860  1.21860  1.21840  1.21860      22
2005-08-01 05:05:00+00:00  1.21850  1.21860  1.21850  1.21850      15
2005-08-01 05:10:00+00:00  1.21845  1.21850  1.21820  1.21840      34
2005-08-01 05:15:00+00:00  1.21830  1.21850  1.21820  1.21850      21
2005-08-01 05:20:00+00:00  1.21840  1.21850  1.21790  1.21790      56
...                            ...      ...      ...      ...     ...
2024-08-01 04:35:00+00:00  1.08329  1.08330  1.08310  1.08323     279
2024-08-01 04:40:00+00:00  1.08324  1.08324  1.08312  1.08313     330
2024-08-01 04:45:00+00:00  1.08312  1.08325  1.08310  1.08318     346
2024-08-01 04:50:00+00:00  1.08316  1.08316  1.08277  1.08288     294
2024-08-01 04:55:00+00:00  1.08287  1.08288  1.08264  1.08268     303

[1430299 rows x 5 columns]

In [114]:
master_df.to_csv('EUR-USD-M5.csv')